{% include 'header.html' %}

<br/>
<a href="{{ url_for('create') }}" class="btn btn-success">
    
    Ingresar nuevo Usuario

</a>

<br>
<br>

    <!-- Para imprimir datos de la base de datos -->
    <table class="table table-light">
        <thead class="thead-light">
            <tr>

                <th>Foto</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Dinero</th>
                <th>ID</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
            
            {% for jugador in jugadores %}
            <tr>
                <td>
                    <img class="img-thumbnail" width="100" src="uploads/{{jugador[4] }}" alt="">
                </td>
                <td>{{jugador[1] }}</td>
                <td>{{jugador[2] }}</td>
                <td>{{jugador[3] }}</td>
                <td>{{jugador[0] }}</td>
                <td>
                    <a class="btn btn-warning" href="/edit/{{jugador[0]}}">Editar</a> | 
                    <a onclick="return confirm('¿Desea Eliminar el Usuario?')" class="btn btn-danger" href="/destroy/{{jugador[0]}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% include 'footer.html' %}